<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout com Eventus e Menu</title>
    <!-- Inclua os arquivos CSS do Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body >
    <!-- Cabeçalho (barra de navegação) -->
<header>

</header>
    <!-- Conteúdo da página -->
    <div class="container mx-auto p-8">
    
    </div>
<footer>
    <div class="bg-white p-4 flex justify-between items-center shadow-md">
        <div class="flex items-center">
            <img src="C:\xampp\htdocs\projeto\views\Images\LOGO.jpg" alt="Logo Eventus">
        </div>
        <ul class="flex space-x-6">
            <li><a href="#" class="text-gray-800 hover:text-gray-600">Termos</a></li>
            <li><a href="#" class="text-gray-800 hover:text-gray-600">Trabalhe Conosco</a></li>
            <li><a href="#" class="text-gray-800 hover:text-gray-600">Empresas</a></li>
            <li><a href="#" class="text-gray-800 hover:text-gray-600">Ajuda</a></li>
        </ul>
    </div>
</footer>
    
</body>
</html>
